.featuredBox {
  flex: 1;
  margin: 0 var(--margin);
  padding: var(--padding);
  border-radius: var(--border-radius);
  cursor: var(--cursor);

  -webkit-box-shadow: var(---webkit-box-shadow);
  box-shadow: var(--box-shadow);
}

.featuredTitle {
  font-size: var(--sub-title-font-size);
}

.featuredMoneyContainer {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.featuredMoney {
  font-family: var(--sub-title-font);
  font-size: 2rem;
}

.featuredMoneyRate {
  display: flex;
  align-items: center;
  margin-left: var(--margin);
}

.featuredSub {
  font-size: var(--sub-font-size);
  color: var(--sub-font-color);
  font-family: var(--sub-font-1);
}

/* 반응형 */
@media (max-width: 1068px) {
  .featuredBox {
    flex: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin: var(--margin) 0 0 0;
    padding: var(--padding);
  }
}
