.explain {
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90vh;
    width: 60%;
}

.explain-title div {
    font-family: var(--font-1);
    text-align: center;
    font-size: 64px;
    color: var(--main-color);
}

.explain-content-wrapper {
    margin-left: 40px;
}

.explain-content {
    margin-bottom: 60px;
}

.explain-content div {
    font-size: 16px;
    margin-bottom: 16px;
}

.explain-content-btn {
    display: flex;
    justify-content: center;
    font-size: 60px !important;
}
