.icon {
    font-size: 13px;
    color: var(--main-color);
}

.tooltip {
    padding: var(--padding);
    width: 120px;
}

.tooltip strong {
    font-size: 14px;
    color: var(--main-color);
}

.tooltip div {
    font-size: 14px;
}
