.chart {
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box; /*padding이 width를 감소하지 않게 하기 위함*/
}

.custom-tooltip {
    background-color: white;
    box-shadow: var(--box-shadow);
    padding: 4px;
    border-radius: 4px;
}

.custom-tooltip p {
    font-size: 10px;
}

.custom-icon {
    font-size: 13px;
    color: var(--main-color);
}

.tooltip-box {
    padding: var(--padding);
    width: 120px;
}

.tooltip-box strong {
    font-size: 14px;
    color: var(--main-color);
}

.tooltip-box div {
    font-size: 14px;
}
