.icon {
    font-size: var(--content-size);
    color: var(--main-color);
}

.tooltip {
    padding: var(--padding);
    width: 7.5rem;
}

.tooltip strong {
    font-size: var(--content-size);
    color: var(--main-color);
}

.tooltip div {
    font-size: var(--content-size);
}
