.colorBtn {
    box-sizing: border-box;
    font-family: var(--font-1);
    border-radius: var(--border-radius);
    background-color: var(--main-color);
    color: white;
    width: 320px;
    height: 64px;
    text-align: center; /* 텍스트 가로 가운데 정렬 */
    line-height: 64px; /* 요소의 높이와 동일한 값으로 설정하여 수직 가운데 정렬 */
    cursor: pointer;
}

.colorBtn:hover {
    box-shadow: 0px 0px 8px -1px var(--point-color-2);
}
