.colorBtn {
  box-sizing: border-box;
  font-family: var(--sub-title-font);
  font-size: var(--sub-title-font-size);
  padding: 15px 45px;
  border-radius: var(--border-radius);
  background-color: var(--background-color-dark);
  color: white;
}
