.stocklist {
    box-sizing: border-box;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title {
    font-family: var(--font-1);
    color: var(--main-color);
    font-size: 24px;
    margin-bottom: 20px;
}

.table th {
    padding: 10px 0;
    background-color: var(--point-color-2);
    color: var(--color-1);
}

.dataText {
    text-align: left;
    width: 60%;
    padding: 10px 10%;
    white-space: nowrap;
    cursor: pointer;
}

.dataNum {
    text-align: right;
    width: 30%;
    padding: 10px 5%;
    cursor: pointer;
}

/* 반응형 */
@media (max-width: 1068px) {
    .stocklist {
        width: 80%;
    }
}
