.stocklist {
    box-sizing: border-box;
    width: var(--width);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title {
    font-family: var(--font-1);
    color: var(--main-color);
    font-size: var(--title-size);
    margin-bottom: var(--margin);
}

.table th {
    padding: 12px 0; /*padding/2*/
    background-color: var(--point-color-2);
    color: var(--color-1);
}

.dataText {
    text-align: left;
    width: var(--width);
    padding: 12px 10%; /*padding/2*/
    white-space: nowrap;
    cursor: pointer;
}

.dataNum {
    text-align: right;
    width: 30%;
    padding: 12px 5%; /*padding/2*/
    cursor: pointer;
}

/* 반응형 */
@media (max-width: 1068px) {
    .stocklist {
        width: 80%;
    }
}
