.stocklist {
    box-sizing: border-box;
    width: var(--width);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title {
    font-family: var(--font-1);
    color: var(--main-color);
    font-size: var(--title-size);
    margin-bottom: var(--margin);
}

/* 반응형 */
@media (max-width: 1068px) {
    .stocklist {
        width: 80%;
    }
}
