.dataNum {
    text-align: right;
}

.positive {
    color: var(--up-color);
}

.negative {
    color: var(--down-color);
}

.title {
    font-weight: bold;
    margin-bottom: var(--margin);
}

.dataText {
    text-align: left;
    white-space: nowrap; /* 텍스트가 줄바꿈 되지 않도록 설정 */
    overflow: hidden; /* 넘치는 부분을 숨김 */
    text-overflow: ellipsis; /* 넘치는 텍스트에 말줄임표(...) 표시 */
}
