.arrowUp {
  font-size: var(--sub-font-size);
  margin-left: 5px;
  color: var(--upward-color);
}

.arrowDown {
  font-size: var(--sub-font-size);
  margin-left: 5px;
  color: var(--downwardcolor);
}
