/* .arrowUp {
    font-size: 12px;
    color: var(--up-color);
    background-color: var(--up-color);
}

.arrowDown {
    font-size: 12px;
    color: var(--down-color);
    background-color: var(--down-color);
} */
