.chartBox {
    box-sizing: border-box;
    padding: var(--padding);
    border-radius: var(--border-radius);
    -webkit-box-shadow: var(---webkit-box-shadow);
    box-shadow: var(--box-shadow);
    height: 100%;
}

.text {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--margin);
}

.title {
    font-size: var(--subtitle-size);
    font-family: var(--font-1);
}

.money {
    display: flex;
    align-items: center;
    justify-content: end;
}

.money > * {
    margin-left: var(--margin); /* 오른쪽 마진을 추가하여 요소들 사이의 간격 조절 */
}

.chart {
    width: 100%;
    height: 80%;
}

.sub {
    font-size: 0.625rem;
    color: var(--color-3);
}

/* 반응형 */
@media (max-width: 1023px) {
    .wrapper {
        width: 64vw;
    }
}
