.signUp {
  box-sizing: border-box;
  margin-top: 2rem;
  width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #804680;
  border-radius: var(--border-radius);
  padding: 80px;
}

.signUpTitle {
  font-family: var(--title-font);
  font-size: 2rem;
  color: var(--title-font-color);
  margin-bottom: 50px;
}
