.result {
    box-sizing: border-box;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-title {
    display: flex;
    align-items: end;
    margin-bottom: 32px;
}

.result-title-name {
    font-family: var(--font-1);
    font-size: 24px;
    color: var(--main-color);
}

.result-title-content {
    font-size: 16px;
    margin-left: 8px;
}

.result-explain {
    box-sizing: border-box;
    border: solid 1px var(--main-color);
    border-radius: 8px;
    width: 100%;
    padding: var(--padding);
}

.result-info {
    box-sizing: border-box;
    width: 100%;
}

.result-info-title {
    margin-bottom: 8px;
    display: flex;
    align-items: end;
    font-weight: bold;
}

.result-info-title p {
    font-family: var(--font-1);
    color: var(--main-color);
    font-size: 20px;
    margin: 0 8px;
}

.result-info-data-title {
    font-weight: bold;
    margin-bottom: 8px;
    font-family: var(--font-1);
    font-size: 16px;
}

.result-info-table {
    width: 100%;
    margin-bottom: 32px;
    overflow-x: scroll;
}

.result-info-table th {
    width: 32%;
}
