.result {
    box-sizing: border-box;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    display: flex;
    align-items: end;
    margin-bottom: 32px;
}

.name {
    font-family: var(--font-1);
    font-size: 24px;
    color: var(--main-color);
}

.sub {
    font-size: 16px;
    margin-left: 8px;
}

.box {
    box-sizing: border-box;
    border: solid 1px var(--main-color);
    border-radius: 8px;
    width: 100%;
    padding: var(--padding);
}

.wrapper {
    box-sizing: border-box;
    width: 100%;
}

.infoTitle {
    margin-bottom: 8px;
    display: flex;
    align-items: end;
    font-weight: bold;
}

.infoTitle p {
    font-family: var(--font-1);
    color: var(--main-color);
    font-size: 20px;
    margin: 0 8px;
}

.table {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 32px;
    overflow-x: scroll;
}

.table th {
    width: 32%;
}

.table td {
    text-align: left;
    padding: 0 var(--padding);
}

.download {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    padding: 8px;
    border: solid 2px var(--point-color);
    border-radius: 16px;
    color: var(--color-3);
}

.download:hover {
    cursor: pointer;
}
