.strategy {
    box-sizing: border-box;
    width: var(--width);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: space-around;
}

.title {
    font-size: var(--title-size);
    font-family: var(--font-1);
    color: var(--main-color);
    margin: var(--margin) 0;
}

.titleStrategy {
    font-size: var(--title-size);
    font-family: var(--font-1);
    color: var(--main-color);
    margin: 48px 0 12px 0;
}

.subtitle {
    display: flex;
    align-items: center;
    margin-top: 48px; /*margin*2*/
    margin-bottom: 12px; /*margin/2*/
    font-family: var(--font-3);
    /* text-decoration: underline; */
    font-size: var(--subtitle-size);
}

.subtitleDate {
    margin-bottom: 8px; /*margin/3*/
}

.btnWrapper {
    display: flex;
    justify-content: space-around;
    margin: 160px 0;
}

.input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
}

.initInvestment {
    width: 92%;
}

.inputHalf {
    width: 45%;
}

.btnPrev {
    background-color: var(--white);
    border: solid 1px var(--main-color);
    color: var(--color-1);
}

.subtitleDate {
    text-decoration: none;
    color: var(--color-3);
}
span {
    margin: 0 var(--margin);
}

/* 반응형 */
@media (max-width: 1068px) {
    .strategy {
        width: 80%;
    }

    .colorBtn {
        width: 30%;
    }
}
