.colorBtn {
    box-sizing: border-box;
    font-family: var(--font-1);
    border-radius: var(--border-radius);
    background-color: var(--main-color);
    color: var(--color-white);
    width: 20rem;
    height: 4rem;
    text-align: center; /* 텍스트 가로 가운데 정렬 */
    line-height: 4rem; /* 요소의 높이와 동일한 값으로 설정하여 수직 가운데 정렬 */
    cursor: pointer;
    font-size: var(--subtitle-size);
}

.colorBtn:hover {
    box-shadow: 0px 0px 0.5rem -1px var(--point-color-2);
}
