.vertical-h {
    width: 20%;
    border: none;
    border-top: solid 2px var(--color-3);
    border-bottom: solid 2px var(--color-3);
}

.vertical-d {
    text-align: left;
    padding-left: 16px;
    border: none;
    border-top: solid 2px var(--color-3);
    border-bottom: solid 2px var(--color-3);
}
