.explain {
    /* padding: 0 80px; */
    display: flex;
    align-items: center;
    /* width: var(--width); */
    height: var(--height);
}

.title div {
    font-family: var(--font-1);
    text-align: center;
    font-size: 64px;
    color: var(--main-color);
}

.wrapper {
    margin-left: var(--margin);
}

.content {
    margin-bottom: var(--margin);
}

.content div {
    font-size: var(--subtitle-size);
    margin-bottom: 12px; /*margin/2*/
}

.btn {
    display: flex;
    justify-content: center;
}

/* 반응형 */
@media (max-width: 1068px) {
    .explain {
        width: 80%;
    }
}
