.explain {
    padding: 0 80px;
    display: flex;
    align-items: center;
    height: 90vh;
}

.title div {
    font-family: var(--font-1);
    text-align: center;
    font-size: 64px;
    color: var(--main-color);
}

.wrapper {
    margin-left: 40px;
}

.content {
    margin-bottom: 60px;
}

.content div {
    font-size: 20px;
    margin-bottom: 16px;
}

.btn {
    display: flex;
    justify-content: center;
    font-size: 32px;
}
