.mypage {
    box-sizing: border-box;
    width: var(--width);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: var(--margin);
}

.name {
    font-family: var(--font-1);
    font-size: var(--title-size);
    color: var(--main-color);
}

.sub {
    font-size: var(--subtitle-size);
    margin-left: 8px; /*padding/3*/
    font-family: var(--font-3);
}

.info {
    width: 100%;
    margin-bottom: 64px;
}

.infoTitle {
    font-weight: bold;
    margin-bottom: 8px; /*padding/3*/
    font-family: var(--font-3);
    font-size: var(--subtitle-size);
}

.tableV {
    width: 100%;
    height: 80px;
}

.tableV th {
    width: 30%;
}

.tableH {
    width: 100%;
    height: 160px;
    table-layout: fixed;
}

.tableH th,
.tableH td {
    border-left: 1px solid var(--color-4);
    border-right: 1px solid var(--color-4);
}

.tableH th:first-child,
.tableH td:first-child {
    border-left: none; /* Hide left border for the first column */
}

.tableH th:last-child,
.tableH td:last-child {
    border-right: none; /* Hide right border for the last column */
}

.tableH td {
    overflow: auto;
}
.select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--margin);
    height: 64px;
}

.input {
    width: 80%;
}

.btn {
    width: 16%;
    font-size: var(--subtitle-size);
    font-family: var(--font-1);
    background-color: var(--point-color);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    height: 56px;
}

/* 반응형 */
@media (max-width: 1068px) {
    .mypage {
        width: 80%;
    }
}
