.mypage {
    box-sizing: border-box;
    width: var(--width);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: var(--margin);
}

.name {
    font-family: var(--font-1);
    font-size: var(--title-size);
    color: var(--main-color);
}

.sub {
    font-size: var(--subtitle-size);
    margin-left: 8px; /*padding/3*/
}

.info {
    width: 100%;
    margin-bottom: 64px;
}

.infoTitle {
    font-weight: bold;
    margin-bottom: 8px; /*padding/3*/
}

.table {
    width: 100%;
    height: 160px;
}

.table th,
.table td {
    border-left: 1px solid var(--color-4);
    border-right: 1px solid var(--color-4);
}

.table th:first-child,
.table td:first-child {
    border-left: none; /* Hide left border for the first column */
}

.table th:last-child,
.table td:last-child {
    border-right: none; /* Hide right border for the last column */
}

/* 반응형 */
@media (max-width: 1068px) {
    .mypage {
        width: 80%;
    }
}
