.infoBox {
  box-sizing: border-box;
  width: 400px;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  margin-bottom: var(--margin);
}

.infoFirst {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  border: 1px solid #804680;
  border-bottom: 0.5px solid #804680;
  height: 50px;
  padding-left: var(--padding);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.infoMid {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  font-family: inherit;
  border: 1px solid #804680;
  border-top: 0.5px solid #804680;
  border-bottom: 0.5px solid #804680;
  height: 50px;
  padding-left: var(--padding);
  border-radius: 0;
}

.infoLast {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  font-family: inherit;
  border: 1px solid #804680;
  border-top: 0.5px solid #804680;
  height: 50px;
  padding-left: var(--padding);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}
