table{
    width: 100%;
    border-collapse: collapse;
    border: solid 2px var(--color-2);
    text-align: center;

}

th,td{
    border: solid 1px var(--color-2);
    padding: 4px;
}

th{
    background-color: var(--point-color-3);
}

.data-num{
    text-align: right;
}

.positive{
    color: red;
}

.negative{
    color: blue;
}

.tableTitle{
    font-size: 16px;
    font-family: var(--font-1);
    margin-bottom: 8px;
}