table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th,
td {
    padding: 4px;
    border-bottom: 1px solid var(--color-4);
}

th {
    background-color: var(--main-color);
    color: var(--color-white);
    border-bottom: none;
}

.data-num {
    text-align: right;
}

.positive {
    color: var(--up-color);
}

.negative {
    color: var(--down-color);
}

.tableTitle {
    font-weight: bold;
    margin-bottom: var(--margin);
}

.data-text {
    text-align: left;
    padding: 0 5%;
    white-space: nowrap; /* 텍스트가 줄바꿈 되지 않도록 설정 */
    overflow: hidden; /* 넘치는 부분을 숨김 */
    text-overflow: ellipsis; /* 넘치는 텍스트에 말줄임표(...) 표시 */
}
