.idpwInput {
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--margin);
}

.title {
  color: var(--sub-title-font-color);
  font-family: var(--sub-title-font);
}

input {
  width: 250px;
  border: 1px solid #804680;
  border-radius: 5px;
  height: 40px;
}
