a {
  text-decoration: none; /* 링크의 밑줄 제거 */
  color: inherit; /* 기본 링크 색상 사용 */
  font-family: inherit;
  cursor: pointer; /* 링크 커서 스타일 */
}

.topbar {
  width: 100%;
  height: 100px;
  background-color: white;

  position: sticky; /*메뉴가 화면에 항상 보여지기 위함*/
  top: 0;
  z-index: 999; /*우선순위지정*/
  margin-bottom: var(--margin);
}

.topbarWrapper {
  height: 100%;
  padding: 0px var(--padding);
  display: flex;

  align-items: center;
  justify-content: space-around;
}

.topLeft {
  font-family: var(--title-font);
  font-size: var(--title-font-size);
  color: var(--title-font-color);
}

.topMenu {
  box-sizing: border-box;
  width: 60%;
  margin-left: var(--margin);
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  align-items: top;
  background-color: #f0f0fa;
  border-radius: var(--border-radius);
  color: #555555;
}

.menuCategory {
  list-style: none;
  margin-left: var(--margin);
  display: flex;
}

.menuPage {
  font-family: var(--sub-title-font);
  padding: 5px 30px;
  border-radius: var(--border-radius);
}

.menuPage.active,
.menuPage.hover {
  background-color: var(--background-color-light);
  color: white;
}

.topRight {
  font-family: var(--sub-title-font);
  color: #555555;
}

/* 반응형 */
@media (max-width: 1068px) {
  .topbar {
    height: 200px;
  }
  .topbarWrapper {
    display: flex;
    flex-direction: column;
  }
  .topLeft {
    font-size: 30px;
  }
  .topMenu {
    width: var(--width);
  }
  .topRight {
    width: 80%;
    display: flex;
    justify-content: right;
    margin-top: 5px;
  }
}
