.featured {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.featured-box {
    width: 30%;
    margin-bottom: var(--margin);
}

@media (max-width: 1068px) {
    .featured {
        flex-direction: column;
        align-items: center;
    }

    .featured-box {
        width: 80%;
        height: 280px;
    }
}
