.featured {
    box-sizing: border-box;
    display: flex;
    margin-top: var(--margin);
}

/* 반응형 */
@media (max-width: 1068px) {
    .featured {
        flex-direction: column;
        align-items: center;
    }
}
