.basicBox {
  justify-content: center;
  box-sizing: border-box; /*padding이 width를 감소하지 않게하기 위함*/
  padding: 20px;
  -webkit-box-shadow: 0px 0px 12px -1px #c794d4;
  box-shadow: 0px 0px 12px -1px #c794d4;
  border-radius: 10px;
}
