.home {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}

.back-tested {
    width: 54%;
}

.back-tested-title {
    font-weight: bold;
    margin-bottom: var(--margin);
}

.back-tested-chart {
    width: 100%;
    height: 400px;
}

.top20 {
    width: 42%;
    overflow-x: scroll;
}

.top20 td {
    text-overflow: ellipsis;
}

/* 반응형 */
@media (max-width: 1068px) {
    .home {
        width: 80%;
    }
    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .back-tested {
        width: 80%;
        margin-top: 280px;
    }
    .top20 {
        width: 80%;
        margin-top: 40px;
    }
}

@media (max-width: 675px) {
    .top20 td {
        font-size: 12px;
    }

    .top20 th {
        font-size: 12px;
    }
}
