:root {
    ---webkit-box-shadow: 0px 0px 8px -1px #7e3cf5;
    --box-shadow: 0px 0px 8px -1px #7768e6;

    /*폰트*/
    --font-1: 'JalnanGothic';
    --font-2: 'Pretendard-Medium';
    --font-3: 'Pretendard-Bold';

    /*색상표*/
    --main-color: #554aa7;
    --point-color: #8ddf00;
    --point-color-2: #7768e6;
    --point-color-3: #70bff4;
    --point-color-4: #ef50c1;
    --color-1: #212121;
    --color-2: #0f0b0b;
    --color-3: #989898;
    --color-4: #e8eaed;
    --color-white: white;

    /* 기본 사이즈 */
    --padding: 24px;
    --margin: 24px;
    --border-radius: 8px;
    --width: 60%;
    --height: 90vh;
    --title-size: 24px;
    --subtitle-size: 20px;
    --content-size: 16px;

    /* 기타 설정 */
    --cursor: pointer;
    --up-color: #d84337;
    --down-color: #254b9c;

    /* chart 변수 */
    --stroke-dash-array: 5 6;
    --stroke-color: var(--color-3);
    --line-type: straight;
}

.container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 0 80px 0;
}

* {
    font-family: var(--font-2);
    color: var(--color-1);
    margin: 0;
    font-size: 16px;
}

/* 테이블 기본 레이아웃 세팅 */
table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th,
td {
    border-top: 1px solid var(--color-4);
    border-bottom: 1px solid var(--color-4);
    height: 24px;
}

th {
    background-color: var(--point-color-2);
    color: var(--color-white);
    font-family: var(--font-3);
}
