.login {
    display: flex;
    align-items: center;
    height: var(--height);
    width: var(--width);
    justify-content: center;
}

.box {
    box-sizing: border-box;
    width: 32.5rem;
    height: 22.5rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding: 2.5rem 1.5rem 0 1.5rem;
}

.title {
    font-size: var(--title-size);
    margin-bottom: 7.5rem;
    color: var(--main-color);
    font-family: var(--font-1);
}

/* #kakao {
    background-color: #fee500;
    box-shadow: 0px 0px 4px 0px #baa700;
} */

.loading {
    height: 80vh;
}
