.footer {
    box-sizing: border-box;
    height: 120px;
    position: relative;
    background-color: var(--color-4);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10vw;
}

.footer div {
    color: var(--color-3);
    font-size: var(--content-size);
}

.right {
    display: flex;
}

.right div {
    margin-left: var(--margin);
}

/* 반응형 */
@media (max-width: 1068px) {
}
